* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn-primary {
  display: inline-block;
  background-color: #7ae5fd;
  border-radius: 87px;
  text-align: center;
  text-transform: uppercase;
  padding: 21px 28px;
  font-size: 18px;
  line-height: 120%;
}

h1 {
  font-size: 93px;
  font-weight: 800;
  line-height: 94.9%;
  color: #9ad2de;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 46px;
}

h1,
h2,
h3 {
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

h2,
h3,
.subtitle-first,
.subtitle-second {
  margin: 10px 0;
  line-height: 120%;
}

.subtitle-first {
  font-size: 27px;
}

.subtitle-second {
  font-size: 20px;
  color: #73a6b1;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  background-color: #f1fdff;
  min-height: 100vh;
  padding: 63px 75px 0 100px;
  position: relative;
  z-index: 0;
}

.btn-nav {
  display: none;
}

.header-nav ul {
  display: flex;
  align-items: center;
  z-index: 2;
  position: relative;
  padding: 0;
  margin: 0;
}

.header-nav li {
  flex-shrink: 0;
}

.header-nav li:first-child {
  margin-right: auto;
}

.header-nav li:not(:first-child):not(:last-child) {
  padding: 0 24px;
}

.header-nav a {
  font-size: 18px;
  line-height: 96.9%;
}

.item-logo {
  display: inline-block;
  width: 65px;
  height: 65px;
}

.item-logo a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.item-logo a img {
  width: 100%;
  height: 100%;
}

.header-title {
  max-width: 698px;
}

.header-subtitle {
  max-width: 484px;
  font-size: 20px;
  line-height: 120%;
}

.header-bg-img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 1;
}

main section {
  width: 100%;
  margin: 45px auto;
}

.main-section-festival-program {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 70px;
}

.main-section-festival-program a {
  align-self: center;
}

.section-header {
  margin: 0px 15px;
  text-align: center;
}

.section-header .subtitle-second {
  max-width: 588px;
  margin: 10px auto;
}

.article {
  background-color: hsl(189, 100%, 97%);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  padding: 40px;
  margin: 0 15px;
}

.article .events-container {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 450px;
}

.article .img-container {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 600px;
}

.article img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.article .article-title {
  margin-bottom: 35px;
}

.events-list {
  font-size: 16px;
  line-height: 120%;
}

.event-item:not(:last-child) {
  margin-bottom: 35px;
}

.event {
  display: block;
  margin-bottom: 10px;
}

.event-time {
  display: block;
  color: #3d8c9d;
}

.main-section-reward {
  height: 738px;
  background-image: url("./images/Background.png");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
}

.main-section-reward div {
  width: 95%;
  height: 277px;
  background-color: #f2feff;
  border-radius: 10px;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 40px;
  position: relative;
}

.main-section-reward div p {
  max-width: 391px;
  font-size: 27px;
  line-height: 120%;
  margin: 0;
}

.main-section-reward .t-shirt {
  position: absolute;
  right: 14%;
}

.main-section-reward .flag {
  position: absolute;
  right: 11%;
  top: 0;
}

.main-section-donate {
  text-align: center;
  padding: 20px;
}

.main-section-donate .title-container-donate {
  margin-bottom: 77px;
}

.main-section-donate .donate-collected-container {
  margin-bottom: 57px;
}

.main-section-donate .subtitle-second {
  max-width: 740px;
  margin: auto;
}

.main-section-donate .donate-quantity li {
  display: inline-block;
  font-size: 60px;
  line-height: 120%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  padding: 10px;
}

.main-section-donate .donate-quantity li + li {
  border-left: 2px solid #9ad2de;
}

.footer {
  background-color: #f9fadf;
  border-radius: 11px;
  margin-top: 140px;
  padding: 60px 110px 110px;
  display: flex;
  justify-content: center;
}

.footer-section-contacts {
  align-self: flex-start;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 43px;
}

.footer-section-contacts .contacts-list {
  max-width: 440px;
  font-size: 20px;
  line-height: 120%;
}

.footer-section-contacts .contacts-list li {
  margin-bottom: 57px;
}

.footer-section-subscribe {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 90px;
  padding: 50px;
}

.footer-section-subscribe div {
  max-width: 500px;
  min-width: 400px;
}

.footer-section-subscribe img {
  display: block;
  width: 100%;
  height: auto;
}

.footer-section-subscribe p {
  width: 100%;
  text-align: left;
  margin-top: 0;
  margin-bottom: 30px;
}

.footer-section-subscribe form {
  width: 100%;
}

.footer-section-subscribe form input {
  display: block;
  width: 100%;
  height: 66px;
  border-radius: 61px;
  border-style: none;
  font-size: 20px;
  line-height: 120%;
}

.footer-section-subscribe form input[type="submit"] {
  cursor: pointer;
}

.footer-section-subscribe form input:not([type="submit"]) {
  padding-left: 43px;
  margin-bottom: 30px;
  background-color: #f9fadf;
}

@media (max-width: 1400px) {
  .header-bg-img {
    z-index: -1;
  }
}

@media (max-width: 1200px) {
  h3 {
    font-size: 30px;
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 60px;
  }

  .header-subtitle {
    max-width: 280px;
  }

  .header-bg-img {
    width: 120%;
    object-fit: contain;
    object-position: right bottom;
  }

  .main-section-festival-program {
    align-items: center;
  }

  h2 {
    font-size: 50px;
  }

  .subtitle-first {
    font-size: 20px;
  }

  .subtitle-second {
    font-size: 16px;
  }

  .article {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 15px;
  }

  .article .events-container {
    flex-basis: auto;
  }

  .article .img-container {
    flex-basis: auto;
  }

  .event-item {
    margin-bottom: 35px;
  }

  .main-section-reward .t-shirt {
    right: 0%;
  }

  .main-section-reward .flag {
    right: 0%;
  }

  .footer-section-subscribe {
    flex-direction: column;
    align-items: center;
    padding: 25px;
    gap: 50px;
  }

  .footer-section-contacts {
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  .header {
    padding: 40px 25px;
  }

  .btn-nav {
    display: block;
    margin-left: auto;
    width: 60px;
    height: 28px;
    border: none;
    background: repeating-linear-gradient(
      to bottom,
      #7ae5fd 0%,
      #7ae5fd 20%,
      transparent 20%,
      transparent 40%
    );
    cursor: pointer;
  }

  .header-nav {
    display: none;
  }

  h1 {
    font-size: 65px;
  }

  .header-title {
    max-width: 450px;
  }

  .article {
    padding: 20px;
  }

  .main-section-reward {
    margin-top: 230px;
    height: 395px;
    background-image: none;
  }

  .main-section-reward div {
    height: 395px;
    justify-content: center;
  }

  .main-section-reward div p {
    align-self: flex-end;
  }

  .main-section-reward .t-shirt {
    transform: translateX(50%);
    right: 50%;
    top: -45%;
  }

  .main-section-reward .flag {
    transform: translateX(50%);
    right: 35%;
    top: -25%;
  }

  .footer-section-subscribe form input {
    height: 66px;
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .btn-nav {
    width: 45px;
    height: 22px;
  }

  h1 {
    font-size: 50px;
  }

  .header-title {
    max-width: 350px;
  }

  .header-subtitle {
    font-size: 16px;
    max-width: 250px;
  }

  .main-section-reward div p {
    max-width: 300px;
    font-size: 20px;
  }

  .main-section-donate .donate-quantity li {
    font-size: 50px;
  }

  .footer {
    padding: 20px;
    margin-top: 140px;
  }

  .footer-section-contacts .contacts-list {
    font-size: 16px;
  }

  .footer-section-contacts .contacts-list li {
    margin-bottom: 57px;
  }

  .footer-section-subscribe div {
    min-width: 300px;
  }
}
